* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: white;
    font-size: 46px;
    text-shadow: 0 0 3px rgb(0,0,0,0.75);
    margin-top: 10px;
}
#shellContainer {
    width: 600px;
    height: 700px;
    border-radius: 15%;
    border: solid 5px black;
    background-color: red;
}

#drawContainer{
    width: 502px;
    height: 502px;
    border: solid 1px black;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(240,240,240);

}

.clearFix::before, .clearFix::after {
    display: table;
    content: "";
    clear: both;
}

.gridPixel {
    display: inline-block;
    /* background-color: rgb(240,240,240); */
    transition: 0.1s;
    border-style: solid;
    border-color: rgb(230,230,230);
}

.gridPixel:hover {
    background-color: rgb(100,100,100);
}

.filledPixel {
    background-color: rgb(125,125,125);
}

.filledPixel:hover {
    background-color: rgb(75,75,75);
}

.circleContainer {
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.25);
    display: inline-block; 
}

.circle {
    width: 75px;
    height: 75px;
    font-size: 8px;
    background-color: rgb(225,225,225);
    border-radius: 50%;
    
    border: solid 1px rgb(240,240,240);
    position: relative;
}


.circle--small {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

#aspectRatioLink {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

#aspectRatioLink svg {
    width: 100%;
    height: 100%;
}

.hidden {
    display: none;
}

.flexContainer {
    display: flex;
}

.flexContainer--vert {
    flex-direction: column;
}

.formContainer {
    display: inline-block;
    position: relative;
    height: 75px;
    width: 60%;
}

#inputContainer {
    width: 100px;
    position: relative;
}

#labelContainer {
    width: 75px;
}

#labelContainer label {
    height: 45%;
    margin-top: 3.33%;
    line-height: 32px;
    font-size: 24px;
    color: white;
    text-shadow: 0 0 3px rgb(0,0,0,0.5);
}

#shellButtonContainer {
    width: 90%;
    margin: 10px auto;
    justify-content: space-between;
}

#submitButton {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto 0;
    height: 100%;
    width: 40%;
    border-radius: 18px;
    
}

#widthInput, #heightInput {
    width: 75px;
    height: 45%;
    margin-top: 3.33%;
    border-radius: 10px;
    outline: none;
    padding: 2px 10px;
}